.static-box {
    position: static;
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0px;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
.relative-box {
    position: relative;
    top: 10px;
    left: 10px;
    height: 500px;
    background-color: lightblue;
    padding: 10px;
}
.container {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: lightgray;
}

.absolute-box {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: lightcoral;
    padding: 10px;
}
.fixed-box {
    position: fixed;
    top: 0;
    right: 0;
    background-color: lightgreen;
    padding: 10px;
}
.sticky-container {
    height: 1000px;
    background-color: lightyellow;
}

.sticky-box {
    position: sticky;
    top: 10px;
    background-color: lightpink;
    padding: 10px;
}

/* Header */
.header-imge{
    margin: 0;
    width: 100%;
    height: 50vh;
    border-width:2px;
    border-style: solid;
    border-color: red;
}
.header-img-fit{
    width:100%;
    height: 100%;
}
/* body */
.main-contenedor{
    display: flex
}
.main-comida{
    width: 50%;
    height: 50vh;
    border: 2px solid red;
    text-align: center;
    object-fit:cover;
       
}
.imagen-fit{
    width: 200px;
    height: auto;
}

/* footer */
.footer-texto{
    text-align: center;
    width: 100%;
}
.footer-contenedor{
    display: flex;
    justify-content: center;
    
}
.imagen-logo-fit{
    width: 70px;
    height: auto;
}