
.static-box {
    position: static;
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0px;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
.relative-box {
    position: relative;
    top: 10px;
    left: 10px;
    height: 500px;
    background-color: lightblue;
    padding: 10px;
}
.container {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: lightgray;
}

.absolute-box {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: lightcoral;
    padding: 10px;
}
.fixed-box {
    position: fixed;
    top: 0;
    right: 0;
    background-color: lightgreen;
    padding: 10px;
}
.sticky-container {
    height: 1000px;
    background-color: lightyellow;
}

.sticky-box {
    position: sticky;
    top: 10px;
    background-color: lightpink;
    padding: 10px;
}

/* Header */
.header-image{
    background-image: url(../img/header-img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: auto;
    
}
.header-contenedor-img{
    position:relative;
    width: 100%;
    height: auto;
    display:block
}
.header-img-fit{   
    width:100%;
    height: auto;
    display: block;
}
.header-texto{
    position:absolute;
    /* width: 100%; */
    top:30%;
    left:40%;
    
}
/* body */
.main-contenedor{
    display: flex
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0)
}
.main-comida{
    width: 100%;
    height: auto;
    text-align: center;
    object-fit:cover;
       
}
.imagen-fit{
    width: 200px;
    height: auto;
}

.footer-container{
    width: 100%;
    border: 2px rgb(0, 0, 0) solid
}

.footer-texto{
    text-align: center;
    width: 100%;
}
.footer-contenedor{
    display: flex;
    justify-content: center;  
    
}
.imagen-logo-fit{
    width: 70px;
    height: auto;
}

.header-desayuno-imagen{
    width: 100%;
    
}

#miHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #343a40;
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.btn-volver {
  color: white;
  background-color: #bbc0c7;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-volver:hover {
  background-color: #bbc0c7;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro translúcido */
  border-radius: 50%;
}
