@import "./utilities/variables";
@import "./utilities/extends";
@import "./utilities/mixins";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

a {
    text-decoration: none;
    color: $colorlink;
}

/* medias queries*/
@media (max-width: 600px) {
    .header-texto {
        top: 0;        
    }
    h2{font-size: 20px;
    }
}

@media (max-width: 600px) {
    .flex-container {
        @include flex-base(column,center);
    }
}