/* footer */
.footer-container {
    width: 100%;
    border: 2px rgb(0, 0, 0) solid
}

.footer-texto {
    text-align: center;
    width: 100%;
}


.imagen-logo-fit {
    width: 70px;
    height: auto;
}